@import 'theme';
@import 'xorg_header';
@import 'xorg_footer';

/* SVG styles */

svg {
    fill: $col6;
    stroke: $col5;
    stroke-width: 10;

    &:hover {
        fill: $col5;
        stroke: $col4;
    }
}

/* General styles */

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $font1;
}

input {
    padding: 5px;
    border-radius: $radius_sharp;
    font-size: 1em;

    &:hover,
    &:focus {
        background-color: $col5;
    }
}

a {
    text-decoration: none;
    color: $col3;

    &:hover,
    &:focus {
        color: $col1;
    }
}

/* Universal classes */

.loading {
    margin-top: 10%;
    text-align: center;
}

.center-content > * {
        text-align: center;
        margin-left: auto;
        margin-right:auto;
}

/* Signing form */

.sign-in {

    margin-top: 40px;

    form {
        width: 320px;
    }

    header {
        margin: 1em;
    }

    .friend-site {
        font-weight: 900;
        font-size: 1.4em;
    }

    input {
        height: 42px;
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
        border: $radius_sharp solid $col4;

        &:hover, &:focus {
            background-color: $col5;
        }
    }

    #Email {
        border-top-left-radius: $radius_round;
        border-top-right-radius: $radius_round;
    }

    #Passwd {
        margin-top: -$radius_sharp;
        border-bottom-left-radius: $radius_round;
        border-bottom-right-radius: $radius_round;
    }

    #Submit {
        margin-top: 32px;
        margin-bottom: 12px;
        border-radius: $radius_round;
        background-color: $col3;
        border: none;
        color: $col6;
        font-size: 1.2em;
    }

    #Submit:hover {
        background-color: #D92B34;
    }

    #KeepConnect {
        width: initial;
        height: initial;
    }
}

.signin-misc {
    display: table;
    width: 100%;

    label {
        display: table-cell;
        text-align: left;
    }

    input {
        display: inline;
    }

    a {
        display: table-cell;
        text-align: right;
    }
}







