language: python

python:
 - "3.4"
 - "3.5"

env:
 - DJANGO_VERSION=1.7
 - DJANGO_VERSION=1.8

matrix:
  exclude:
    - python: "3.5"
      env: DJANGO_VERSION=1.7

install:
 - pip install coveralls
 - pip install -q Django==$DJANGO_VERSION
 - pip install -r backend/requirements.txt

script:
 - cd backend
 - coverage run --source='backend/' --omit='backend/wsgi.py' manage.py test

after_success: coveralls

branches:
  only:
    - master

notifications:
  email: false
  irc:
    channels: "chat.freenode.net#platal"
    on_success: always
    on_failure: always
    template:
      - "%{repository} : %{message} ( %{build_url} )"
    skip_join: true
